header {
    position: fixed;
    width: 100%;
    height: 4rem;
    /* display: block; */
    background-color: #F9F9F9;
    z-index: 1000;
    color: #2B231D;
    transition: transform 0.3s ease-in-out;

    display: flex;
    justify-content: center;
}

header ul {
    /* background-color: red; */
    width: 80dvw;
    height: 100%;
    /* display: block; */
    /* margin: 0 auto; */

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-header {
    margin-right: auto;
}

.title-header h2 {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.title-header h2::before {
    content: '';
    background-image: url(../assets/icon/coffee-black.svg);
    width: 2rem;
    height: 2rem;
    background-size: 100%;
    margin-bottom: -0.25rem;
    display: inline-block;
    background-repeat: no-repeat;
}
/* 
header ul a {
    height: 100%;
    display: table;
} */

header ul a li {
    height: 100%;
    display: table-cell;
    vertical-align: middle;

    padding-inline: 3dvw;
}

.header-hidden {
    transform: translateY(-100%);
}