footer {
    position: relative;
    color: #F9F9F9;
    background-color: #2B231D;
    /* padding-top: 2rem; */
    z-index: -1;
    aspect-ratio: 900 / 600;
    width: 100%;

    display: flex;
    align-items: flex-end;
}

footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 900 / 600;
    background-image: url(../assets/icon/wave-bg.svg);
    background-size: 100%;
    display: inline-block;
    background-repeat: no-repeat;
    z-index: 1;
}

.contact {
    background-color: #2B231D;
    position:fixed;
    bottom:0;
    left:0;
    width: 100%;
    padding: 2rem;
}