#content {
    position:relative;
    bottom: 17.25rem;
    padding-inline: 1rem;
}

#menu {
    padding-bottom: 8rem;
}

.product-container {
    position: relative;
    top: 5rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 18rem));
    grid-row: auto;
    gap: 2rem;

    max-width: calc(4 * 18rem + 3 * 2rem);
    margin: 0 auto;
}

.product-box {
    position: relative;
    color: #2B231D;
    transition: 0.3s ease;
}

.content-box {
    position: relative;
    padding-inline: 2rem;
    padding-bottom: 2rem;
}

.product-box::before {
    content: '';
    position: absolute;
    top: 7.5rem;
    width: 100%;
    height: calc(100% - 7.5rem);
    background-color: #F9F9F9;
    border-radius: 3rem;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
}

.content-box img {
    width: 100%;
    object-fit: contain;
    margin-bottom: 1.5rem;
}

.text-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.75rem;
}

.product-price {
    font-weight: 400;
}

.product-description {
    font-weight: 300;
}

.product-box:hover {
    scale: 1.05;
}