nav {
    color: #2B231D;
}

.headbar {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 4rem;
    background-color: #F9F9F9;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}

.headbar ul {
    width: 90%;
    height: 100%;

    display: flex;
    justify-content: space-between;
}

.headbar li {
    height: 100%;
    display: flex;
    align-items: center;

    margin-inline: 2vw;
}

.headbar li:first-child {
    margin-right: auto;
}

.headbar li:first-child h2::before {
    content: '';
    background-image: url(../assets/icon/coffee-black.svg);
    width: 2rem;
    height: 2rem;
    background-size: 100%;
    margin-bottom: -0.25rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.headbar-hidden {
    transform: translateY(-100%);
}

.headbar li.showOnMobile {
    display: none;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: calc(7vw + 5vw + 10rem);
    background-color: #F9F9F9;
    z-index: 1000;
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    display: flex;
    align-items: flex-start;
    padding-right: 7vw;
    justify-content: flex-start;
}

.sidebar ul {
    width: 100%;
    margin-left: 5vw;
}

.sidebar li:first-child {
    display: flex;
    justify-content: flex-end;
    margin-right: 2vw;
}

.sidebar li {
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.sidebar li:nth-child(2) h2::before{
    content: '';
    background-image: url(../assets/icon/menu-black.svg);
    width: 2rem;
    height: 2rem;
    background-size: 100%;
    margin-bottom: -0.25rem;
    display: inline-block;
    background-repeat: no-repeat;
    margin-right: 1rem;
}

.sidebar li:nth-child(3) h2::before{
    content: '';
    background-image: url(../assets/icon/about-black.svg);
    width: 2rem;
    height: 2rem;
    background-size: 100%;
    margin-bottom: -0.25rem;
    display: inline-block;
    background-repeat: no-repeat;
    margin-right: 1rem;
}

.sidebar li:nth-child(4) h2::before{
    content: '';
    background-image: url(../assets/icon/contact-black.svg);
    width: 2rem;
    height: 2rem;
    background-size: 100%;
    margin-bottom: -0.25rem;
    display: inline-block;
    background-repeat: no-repeat;
    margin-right: 1rem;
}

.sidebar-hidden {
    transform: translateX(100%);
}

@media(max-width: 800px) {
    .sidebar h2{
       font-size: 2rem;
    }

    .hideOnMobile {
        display: none;
    }

    .headbar li.showOnMobile {
        display: flex;
    }
}
